
body{

    margin: 0px;
    font-family: 'Roboto';
    text-decoration: none;
}

a{

    text-decoration: none;
    color: beige;

}

.nav{

    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    border-bottom: white 3px solid;
    
    
    
}



.header{

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: white 3px solid;
}
.headerTitle1{

    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}

.aboutMe{

    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    color: beige;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: white 3px solid;

}

.aboutMeText{

    width: 500px;
    border: white 3px solid;
    padding: 25px;
    font-size: large;

}
.imageOfMe{

    /* height: 400px;
    width: auto; */
    border: white 3px solid;
}

.myProjects{

    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projectCard1, .projectCard2, .projectCard3{

    border: black 3px solid;
    background-color: white;
    box-shadow: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    font-size: 35px;
}
.projectCard1:hover, .projectCard2:hover, .projectCard3:hover{

    background-color: rgb(202, 15, 193);
    color: beige;
    transform: translate(1px, 10%);

}

.contactMe{

    
    display: flex; 
    position: relative;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    /* width: 100vw;  */

}
.contactFormTitle{

    font-family: "Jersey 15", sans-serif;
    font-size: 160px;
    text-align: center;

}

.myEmail{

    font-family: "Jersey 15", sans-serif;
    font-size: 80px;
    text-align: center;
}
.footer{

    background-color: black;
    color: beige;
    font-family: "Jersey 15", sans-serif;
    display: flex;
    justify-content: center;
    font-size: large;
}
.row{

    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.box{

    display: flex;
    justify-content: center;
    flex-basis: 100%;
    align-items: center;

}
.contactContent{

    position: absolute;
    margin-top: 15%;
    margin-left: 30%;
    background-color: black;
    padding: 40px;
    text-decoration: none;
    color: black;
    
}





@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

